{% extends 'layout.html.twig' %}

{% block body %}



    <h2>New user</h2>


{{ form_start(form, { 'attr' : { 'role' : 'form' , 'novalidate' : 'novalidate' } }) }}

    <table>
        <tr>
            <td>
                {{ form_label(form.username, null, {
                    'label' : 'Your_name',
                    'label_attr' : { 'class' : 'etiqueta' }
                }) }}
            </td>
            <td>
                {{ form_widget(form.username, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu username' } }) }}
            </td>
            <td>
                {{ form_errors(form.username) }}
            </td>
        </tr>
    </table>

<div>
    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu primer nombre' } }) }}
    <span> {{ form_errors(form.firstName) }} </span>
</div>

<div>
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu ultimo nombre' } }) }}
    <span> {{ form_errors(form.lastName) }} </span>
</div>

<div>
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu email' } }) }}
    <span> {{ form_errors(form.email) }} </span>
</div>

<div>
    {{ form_label(form.password) }}
    {{ form_widget(form.password, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu password' } }) }}
    <span> {{ form_errors(form.password) }} </span>
</div>

<div>
    {{ form_label(form.role) }}
    {{ form_widget(form.role, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Tu role' } }) }}
    <span> {{ form_errors(form.role) }} </span>
</div>

<div>
    {{ form_widget(form.isActive) }}
    <span> {{ form_errors(form.email) }} </span>
</div>

<p>
    {{ form_widget(form.save, {'label' : 'Create user', 'attr': { 'class' : 'btn btn-success' }}) }}
</p>


{{ form_end(form) }}

    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}

