{% extends 'layout.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get ('mensaje') %}
        {{ flashMessage }}
    {% endfor %}

    {{ include('EMMUserBundle:Usuarios:mensaje.html.twig') }}

<h2 class="horizontal">Usuarios:</h2>

<table border="0">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Actions</th>
    </tr>
        {% for user in usuarios %}
    <tr>
        <td> {{ user.id }} </td>
        <td> {{ user.username }} </td>
        <td> {{ user.firstName }} </td>
        <td> {{ user.lastName }} </td>
        <td> {{ user.email }} </td>
        <td>
            {% if user.role == 'ROLE_ADMIN' %}
                {{ 'Administrador' }}
            {% elseif user.role == 'ROLE_USER' %}
                {{ 'Usuario' }}
            {% endif %}
        </td>
        <td> {{ user.createdAt|date('d-m-Y H:i') }} </td>
        <td> {{ user.updatedAt|date('d-m-Y H:i') }} </td>
        <td>
            <a href="#">View</a>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
        </td>
    </tr>
        {% endfor %}
</table>

    <p><a href="{{ path('emm_user_add') }}">Nuevo Usuario </a></p>


{% endblock %}