{% extends 'layout.html.twig' %}

{% block body %}

    <div>Soy un mensaje</div>
    <table>
        <tr>
            <td>Campo</td>
        </tr>
        <tr>
            <td>Usuario</td>
        </tr>
    </table>

{% endblock %}