body{
    background-color: rgb(0,0,150);
    color: white;
}

.horizontal{
    color: blue;
}

.etiqueta{
    width: 200px;
    font-size: 24px;
    color: orange;
}

div{
    margin-top: 8px;
}

th{
    background-color: rgb(100,100,100);
    color: white;
    width: 100px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}

td{
    background-color: rgb(0,80,0);
    color: white;
    border: solid 1px white;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    text-align: center;
    transition: all 1s;
}

    td:hover{
        background-color: red;
        color: black;
    }

.form-control{
    background-color: black;
    font-size: 24px;
    color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}